[mgr]
show_hidden = false
linemode = "size"

[opener]
edit = [
    { run = 'micro %s', block = true, for = "unix" },
    { run = 'nvim %s', block = true, for = "unix"}
]
open = [
    { run = 'xdg-open %s1', desc = "Open", for = "linux" },
]
reveal = [
    { run = 'xdg-open %d1', desc = "Reveal", for = "linux" },
]
extract = [
    { run = 'ya pub extract --list %s', desc = "Extract here", for = "unix" },
]

play = [
    { run = 'mpv --force-window %s', orphan = true, for = "unix", desc="mpv" },
    { run = 'mpv --force-window --profile=small-subs %s', orphan=true, desc="mpv small-subs" }
]

media_options = [
	{ run = '~/.config/yazi/scripts/toggle-watched.sh %s', desc = "Mark watched", for = "unix"},
    { run = 'ffprobe %s; read _', block=true, desc="Info", for ="unix"}
]

view = [
	{ run = 'swayimg %s', for = "unix", orphan = true},
	{ run = '$WALLPAPER_COMMAND %s', for = "unix", desc="Set wallpaper"},
	{ run = 'kitty icat %s; read -n1', for = "unix", block=true },
]

execute = [
	{ run = 'umu-run %s1', orphan = true }
]

script = [
	{ run = 'sh %s1', block = true}
]

download = [
	{ run = "ya emit download --open %S", desc = "Download and open" },
	{ run = "ya emit download %S",        desc = "Download" },
]

enter = [
	{ run = "ya emit cd %s", desc = "enter" }
]

[open]
rules = [
	{url = "bulk-rename.txt", use = ["edit"]},
	{ mime = "application/microsoft.portable-executable", use = ["execute", "reveal"] },
	{ mime = "text/shellscript", use = ["edit", "script", "reveal"]},
	# Folder
	{ url = "*/", use = ["enter","open", "reveal" ] },
	# Text
	{ mime = "text/*", use = [ "edit", "reveal" ] },
	# Image
	{ mime = "image/*", use = [ "view", "open", "reveal" ] },
	# Media
	{ mime = "{audio,video}/*", use = ["play", "media_options", "reveal"] },	
	# Archive
	{ mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = [ "extract", "reveal" ] },
	# JSON
	{ mime = "application/{json,ndjson}", use = [ "edit", "reveal" ] },
	{ mime = "*/javascript", use = [ "edit", "reveal" ] },
	# Empty file
	{ mime = "inode/empty", use = [ "edit", "reveal" ] },
	# Virtual file system
	{ mime = "vfs/{absent,stale}", use = "download" },
	# Fallback
	{ url = "*", use = [ "open", "reveal" ] }
]

[plugin]
  prepend_preloaders = [
   	# Disable preloaders in mounted media because it's very slow
  	{ url = "/run/media/**", run = "noop" },
    # Replace magick, image, video with mediainfo
    { mime = "{audio,video,image}/*", run = "mediainfo" },
    { mime = "application/subrip", run = "mediainfo" },
    # Adobe Illustrator, Adobe Photoshop is image/adobe.photoshop, already handled above
    { mime = "application/postscript", run = "mediainfo" },
  ]
  prepend_previewers = [
    # Replace magick, image, video with mediainfo
    { mime = "{audio,video,image}/*", run = "mediainfo"},
    { mime = "application/subrip", run = "mediainfo" },
    # Adobe Illustrator, Adobe Photoshop is image/adobe.photoshop, already handled above
    { mime = "application/postscript", run = "mediainfo" },
  ]
  # There are more extensions which are supported by mediainfo.
  # Just add file's MIME type to `previewers`, `preloaders` above.
  # https://mediaarea.net/en/MediaInfo/Support/Formats
